@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.conteiner {
  max-width: 1360px;
  margin: 0 auto;
  margin-top: 55px;
  .header {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    @media screen and (max-width: 469px) {
      display: none;
    }
    li {
      font-size: 20px;
    }
  }
  .header-btn {
    border: 2px solid #263238;
    padding: 17px 57px;
    background-color: white;
    cursor: pointer;
    font-size: 24px;
    font-family: inherit;
    border-radius: 5px;
  }
}
.header-content {
  display: flex;
  align-items: center;
  gap: 57px;
  margin-top: 101px;
  @media screen and (max-width: 469px) {
    flex-direction: column-reverse;
  }
  .header-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
  }
  .header-subtitle {
    color: #8f95a5;
    font-size: 24px;
    font-weight: 400;
    max-width: 632px;
    margin-top: 40px;
  }
  .header-content-btn {
    border: 0;
    border-radius: 15px;
    background-color: black;
    padding: 32px 117px;
    cursor: pointer;
    font-size: 36px;
    font-weight: 400;
    color: white;
    margin-top: 61px;
  }
}

.skills-title {
  text-align: center;
  margin-top: 103px;
  font-size: 48px;
  font-weight: 600;
}
.left-item {
  padding: 35px 22px 0 23px;
  background-color: #f5f5f5;
  width: 435px;
  border-radius: 10px;
}
.item-title {
  color: #263238;
  font-size: 30px;
  font-weight: 600;
  margin: 4px 0 5px;
}
.item-description {
  color: #8f95a5;
  font-size: 16px;
  font-weight: 400;
  max-width: 347px;
  // margin-bottom: 36px;
}
.item-button {
  width: 230px;
  height: 60px;
  padding: 17px;
  border-radius: 5px;
  background: #263238;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  margin: 36px 0 92px;
}
.left-item-margin {
  padding-left: 20px;
}
.flex-wrapper-row {
  display: flex;
  gap: 18px;
  flex-direction: row;
  @media screen and (max-width: 469px) {
    flex-direction: column-reverse;
  }
}
.responsive {
  img {
    width: 100%;
    @media screen and (max-width: 469px) {
      max-width: 469px;
    }
  }
}
