.four {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 800;
    margin-top: 200px;
}

.come {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72px;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: 800;
    margin-top: 60px;
}