@keyframes scaleUp {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.2);
    }
}

@keyframes scaleDown {

    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes imgUp {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.1);
    }
}

@keyframes imgDown {

    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

