.img {
    max-width: 300px;
    max-height: 300px;

    border-radius: 7px 7px 0 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 9px 50px 8px 50px;
    align-items: center;
    background: #FBFBFB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 12px 0 rgba(0, 0, 0, 0.07);

}

.active {
    color: #181717;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #3B71CA;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    animation: scaleUp 0.5s ease-out;
    animation-fill-mode: forwards;

}

a:hover {
    animation: scaleDown 0.5s ease-out;
    animation-fill-mode:  forwards ;
    cursor: pointer;
}
a:before{

}

@keyframes scaleUp {
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(1.2);
    }
}

@keyframes scaleDown {

    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
.blocks {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.blocks div{
    background: white;
    margin: 12px;
    box-sizing: border-box;
    border-radius: 7px;
}

.cardInf{
    padding: 10px;
}
.cardInf button{
    border-radius: 4px;
    background: #3B71CA;
    box-shadow: 0 4px 9px -4px #3B71CA;
    display: inline-flex;
    padding: 10px 26px 8px 26px;
    align-items: flex-end;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
    animation: scaleUp 1s ease-out;
    animation-fill-mode:  forwards ;
}
.cardInf button:hover{
    animation: scaleDown 1s alternate;
    animation-fill-mode:  forwards ;
    cursor: pointer;
}