.block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block div {
    background: white;
    margin: 12px;
    box-sizing: border-box;
    border-radius: 7px;
}

.cardInf {
    padding: 10px;
}

.cardInf button {
    border-radius: 4px;
    background: #3B71CA;
    box-shadow: 0 4px 9px -4px #3B71CA;
    display: inline-flex;
    padding: 10px 26px 8px 26px;
    align-items: flex-end;
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border-style: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
    width: fit-content;

}

.cardInf button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    color: #4F4F4F;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-left: 0;
}
